html {
  scroll-behavior: smooth;
}

body {
  max-width:100%;
  margin : 0;
  padding: 0;
  font-family: "rubik", san-serif;
  line-height: 1.8;
}

.text-center {
  text-align: center !important;
}
.centered {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
}
.companyLogo {
    height: 125px;
    width:  125px;
    border-radius: 50%!important;
    background-color: white;
    border: 2px solid;
}
.pb-4{
  padding-top: 30px; 
}
/* trBl */
.workpadding {
  padding: 30px 20px 40px 20px;
  text-align: left!important;
}

.pxlr-0{
  padding-left: 0;
  padding-right: 0;
}

#divider {
  width: 50px;
  border-bottom: 6px dotted #dcdde1;
}
/* Nasa Fetched Data Description */
.nasa-container {
    margin: 0 auto;
    text-align: center;
    background-image: url("https://apod.nasa.gov/apod/image/2109/RubinsGalaxy_hst2000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #dcdde1;
    object-fit: contain;
    /* position:relative; */
  }
 
.card-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}
.card-img:hover {
  cursor: default;
  transition: none;
  transform: none;
  box-shadow: none;
}
 

.rc:hover {
  cursor: default;
  transition: none;
  transform: none;
  box-shadow: none;
}
 


.techIcon{
  height : 40px;
  margin: 10px 0 18px 0px;  
  display: inline-flex;
  object-fit: contain;
  width: 100%; 
}

  .picture-explanation-container {
    display: flex;
    color: wheat;
  }
  
 

  #picture {
    max-width: 100%;
  }
   
  
  #explanation {
    letter-spacing: 0;
    line-height: 20px;
  }
  
  #about-section{
  max-width: 100%;
  padding:0%; 
  color: #dcdde1;
  background-color: #1e272e;
  justify-content: center;
  }

 
  /* Work Experience section  */
.content {
  background: #1e272e;
  color: #dcdde1;
  margin-top: 5rem;
}

.workpadding {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}


.row.align-items-md-stretch{
  display: flex; 
}

.bg-dark {
  background-color: #1e272e!important;
}

.contact-section{
  background-color: #1e272e;
  background-image: linear-gradient(
      0deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
  );
  color: #dcdde1;
  padding: 0;
  margin-top: 60px; 
}

.social-icon:hover{
  color: salmon;
}

.banner_fadeBottom {
  padding: 0;
  margin: 0;
  height: 15.4rem;
  background-image: linear-gradient(
      0deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
  )
}
.social-icon{  
  display: inline-flex; 
  color: #dcdde1;
  margin: 2px;
}
.rounded {
  border-radius: 0.3rem!important;
}
 

 
img {
  transition: transform 450ms;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-right:3px;
}
 
img:hover {
  transform: scale(1.03);
  border-color: rgba(249, 249, 249, 0.8); 
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
}
 /* this will add a cool border with shadow effects  */
#upgrade {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px; 
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
  border-radius:10px;
}
.nav-item.resBtn{
  color: #dcdde1;
  display: flex;
  align-items: center;
}

/* Button Glow Effect  */
.btn:hover {
  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #1e272e,
  0 0 82px #1e272e,
  0 0 92px #1e272e,
  0 0 102px #1e272e,
  0 0 151px #1e272e;
}

/* 1e272e */

/* Animated Icon 1 */
.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon1 span:nth-child(1) {
  top: 0;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Media Queries  */

@media (max-width: 992px) {
  .workpadding {
    padding: 40px 20px;
    text-align: center!important;
  }
}

@media screen and (max-width: 768px) {
  .workpadding {
    padding: 40px 20px;
    text-align: center!important;
  }
 
  h2  {
    font-size: 20px;
  }
  p {
    font-size: 14px;
    line-height: 1.45;
  }

  
}

@media screen and (max-width: 576px) {
  
  .workpadding {
    padding: 40px 20px;
    text-align: center!important;
    font-size: 14px;
    color: #dcdde1;
    color: #212529
  }
 
.blk-Title {
  color: #212529
}

h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
    color: #dcdde1;
}

.picture-explanation-container > p { 
  font-size: 12px; 
}

.pt-2 {
  font-size: 30px;
}





.row.align-items-md-stretch{
  display: flex;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

}

@media (min-width: 768px) {

  .align-items-md-stretch {
    align-items: stretch!important;
}
.img-fluid {
  width: 100%;
  height: 100%;
}
  
}


