/* * {
    margin : 0; 
} */
 
ul {
    list-style: none;
}


.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    display: inline-block;
    font-size: 1rem; 
    margin: 4px 2px;
    cursor: pointer;
  }